.list {
    list-style: none;
    margin: 0;

    li {
        a {
            display: block;
            background: #e4e4e4;
            padding: 1.2rem;
            transition: background 0.2s;
            &:hover {
                background: #c4c4c4;
            }
        }

        h2 {
            margin-bottom: 0.4rem;
        }

        p {
            font-size: 0.9rem;
            color: #000;
        }
    }
}
